@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Segoe WP';
  src: url("../fonts/Segoe WP Light.eot");
  src: local("☺"), url("..fonts/Segoe WP Light.woff") format("woff"), url("../fonts/Segoe WP Light.ttf") format("truetype"), url("../fonts/Segoe WP Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url("../fonts/Segoe WP Semibold.eot");
  src: local("☺"), url("../fonts/Segoe WP Semibold.woff") format("woff"), url("../fonts/Segoe WP Semibold.ttf") format("truetype"), url("../fonts/Segoe WP Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Univers CE';
  src: url("../fonts/Univers CE 45 Light.eot");
  src: local("☺"), url("../fonts/Univers CE 45 Light.woff") format("woff"), url("../fonts/Univers CE 45 Light.ttf") format("truetype"), url("../fonts/Univers CE 45 Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("fonts/arial.eot");
  src: local("☺"), url("../fonts/arial.woff") format("woff"), url("fonts/arial.ttf") format("truetype"), url("fonts/arial.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("../fonts/arialbd_0.eot");
  src: local("☺"), url("../fonts/arialbd_0.woff") format("woff"), url("../fonts/arialbd_0.ttf") format("truetype"), url("../fonts/arialbd_0.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Segoe WP';
  font-weight: 300;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1044px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 55px 0;
  background: url("../img/header/header_bg.jpg") center no-repeat;
  background-size: cover;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/header/header_bg-overlay.png") no-repeat;
  background-size: cover;
  z-index: 1;
}

.header__head {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 68px 0;
}

.header__logo img {
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin: 0 26px;
}

.header__link {
  color: #fff;
  font-size: 22.63px;
}

.header__body {
  position: relative;
  z-index: 1;
}

.header__slider {
  position: relative;
}

.header__slider .slick-list {
  overflow: hidden;
}

.header__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__slider .slick-arrow {
  position: absolute;
  top: 25%;
  font-size: 0;
  z-index: 5;
  width: 50px;
  height: 50px;
}

.header__slider .slick-arrow.slick-prev {
  background: url("../img/header/arrow-prev.png") no-repeat;
  left: -72px;
}

@media (max-width: 1180px) {
  .header__slider .slick-arrow.slick-prev {
    left: 0;
  }
}

.header__slider .slick-arrow.slick-next {
  right: -72px;
  background: url("../img/header/arrow-next.png") no-repeat;
}

@media (max-width: 1180px) {
  .header__slider .slick-arrow.slick-next {
    right: 0;
  }
}

.header__slider .item-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__slider .item-slider__icon {
  margin: 0 75px 0 0;
}

.header__slider .item-slider__icon img {
  width: 100%;
}

.header__slider .item-slider__title, .header__slider .item-slider__subtitle, .header__slider .item-slider__btn {
  color: #fff;
}

.header__slider .item-slider__title {
  font-size: 64.63px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.header__slider .item-slider__subtitle {
  font-size: 44.63px;
  margin: 0 0 30px 0;
}

.header__slider .item-slider__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 138px;
  height: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22.63px;
  background: #2b7552;
  text-transform: capitalize;
}

@media (max-width: 900px) {
  .header__slider .item-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header__slider .item-slider__icon {
    margin: 0 0 0 0;
  }
  .header__slider .item-slider__title {
    font-size: 48px;
  }
  .header__slider .item-slider__subtitle {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .header__slider .item-slider__title {
    font-size: 32px;
  }
  .header__slider .item-slider__subtitle {
    font-size: 27px;
  }
}

@media (max-width: 500px) {
  .header__slider .item-slider__icon img {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .header__head {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 20px;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #999;
    padding: 100px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
}

.tabs__body {
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 0 3px #dedede;
          box-shadow: 0 0 3px #dedede;
  padding: 70px 0;
}

.tabs-triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-triggers__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 26px 18px 53px;
  border-bottom: 1px solid #dedede;
  color: #5c5b5b;
}

.tabs-triggers__item::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  bottom: -1px;
  left: 0;
  -webkit-box-shadow: 0 -1px 3px #dedede;
          box-shadow: 0 -1px 3px #dedede;
}

.tabs-triggers__item.active {
  border: 1px solid #dedede;
  border-bottom: none;
  font-weight: 600;
  -webkit-box-shadow: 0 -2px 3px #f5f5f5;
          box-shadow: 0 -2px 3px #f5f5f5;
  color: #5f5f5f;
}

.tabs-triggers__item.active::after {
  display: none;
}

@media (max-width: 767px) {
  .tabs-triggers__item {
    padding: 13px 9px 26px;
  }
}

@media (max-width: 500px) {
  .tabs-triggers__item {
    padding: 13px 0 26px;
  }
}

.tabs-triggers__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 22px 0;
}

.tabs-triggers__img img {
  width: 62.29%;
}

.tabs-triggers__title {
  font-size: 26.63px;
  text-align: center;
  color: #4f4f4f;
}

@media (max-width: 767px) {
  .tabs-triggers__title {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .tabs-triggers__title {
    font-size: 12px;
  }
}

.tabs-triggers__text {
  color: #818181;
}

.tabs-content {
  padding: 58px 90px 0;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item.active {
  display: block;
}

.tabs-content__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 60px 0;
}

.tabs-content__img img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .tabs-content__img {
    margin: 0 0 30px 0;
  }
}

.tabs-content__title {
  font-size: 38.63px;
  margin: 0 0 30px 0;
}

@media (max-width: 767px) {
  .tabs-content__title {
    font-size: 27px;
  }
}

@media (max-width: 480px) {
  .tabs-content__title {
    font-size: 16px;
  }
}

.tabs-content__text {
  font-size: "Univers CE";
  font-size: 14px;
  line-height: 24px;
}

.tabs-content__text p {
  margin: 0 0 36px 0;
}

.tabs-content__text p:last-child {
  margin: 0;
}

@media (max-width: 480px) {
  .tabs-content__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .tabs-content {
    padding: 27px 45px 0;
  }
}

@media (max-width: 540px) {
  .tabs-content {
    padding: 20px 10px 0;
  }
}

.choose {
  border-bottom: 1px solid #e5e5e5;
  padding: 29px 0 73px;
}

.choose__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .choose__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.choose__img img {
  max-width: 100%;
}

.choose__content {
  margin: 27px 0 0 0;
}

.choose__title {
  color: #4f4f4f;
  font-size: 32.63px;
  margin: 0 0 27px;
}

.choose__item {
  color: #8a8888;
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 0 0 0 31px;
  position: relative;
}

.choose__item::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../img/choose/icon.png");
  top: 0;
  left: 0;
}

.choose__item:last-child {
  margin: 0;
}

@media (max-width: 480px) {
  .choose__item {
    font-size: 14px;
  }
}

.contact {
  padding: 23px 0 35px;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form {
  max-width: 480px;
  width: 100%;
  padding: 15px 16px 18px 29px;
  border-radius: 4px;
}

@media (max-width: 480px) {
  .form {
    padding-left: 16px;
  }
}

.form-login {
  background: #e67624;
  margin: 0 66px 0 0;
}

.form-login__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35.633%;
          flex: 0 0 35.633%;
}

.form-login__button {
  background: #444444;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21.61%;
          flex: 0 0 21.61%;
}

@media (max-width: 1024px) {
  .form-login {
    margin: 0  0 20px 0;
  }
}

.form-subscribe {
  background: #01d4f3;
}

.form-subscribe__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60.69%;
          flex: 0 0 60.69%;
}

.form-subscribe__button {
  background: #029bb1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.29%;
          flex: 0 0 25.29%;
}

.form__title {
  font-size: 28px;
  color: #fff;
  margin: 0 0 20px 0;
}

@media (max-width: 480px) {
  .form__title {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .form__title {
    font-size: 14px;
  }
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .form__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__input {
  height: 26px;
  padding: 0 0 0 13px;
}

@media (max-width: 480px) {
  .form__input {
    width: 100%;
    height: 30px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 0 0 20px 0;
  }
}

.form__button {
  color: #fff;
  height: 30px;
}

@media (max-width: 480px) {
  .form__button {
    width: 100%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.footer {
  padding: 34px 0 46px;
  background: url("../img/footer/bg.jpg") center;
  color: #fff;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__title {
  font-size: 22px;
  margin: 0 0 17px 0;
}

.footer__title + * {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}

.footer__column {
  min-width: 0;
}

@media (max-width: 767px) {
  .footer__column {
    margin: 0 0 20px 0;
  }
}

.footer__item {
  margin: 0 0 12px 0;
}

.footer__column-slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.25%;
          flex: 0 0 31.25%;
  position: relative;
}

.footer__slider .slick-list {
  overflow: hidden;
}

.footer__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__slider .slick-arrow {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  z-index: 5;
  width: 16px;
  height: 16px;
  background: transparent;
}

.footer__slider .slick-arrow.slick-prev {
  background: url("../img/footer/arrow-prev.png") no-repeat;
  left: 206px;
}

@media (max-width: 767px) {
  .footer__slider .slick-arrow.slick-prev {
    left: 230px;
  }
}

@media (max-width: 640px) {
  .footer__slider .slick-arrow.slick-prev {
    left: 170px;
  }
}

@media (max-width: 580px) {
  .footer__slider .slick-arrow.slick-prev {
    left: 110px;
  }
}

@media (max-width: 420px) {
  .footer__slider .slick-arrow.slick-prev {
    left: 50px;
  }
}

@media (max-width: 320px) {
  .footer__slider .slick-arrow.slick-prev {
    left: 25px;
  }
}

.footer__slider .slick-arrow.slick-next {
  background: url("../img/footer/arrow-next.png") no-repeat;
  left: 230px;
}

@media (max-width: 767px) {
  .footer__slider .slick-arrow.slick-next {
    left: auto;
    right: 230px;
  }
}

@media (max-width: 640px) {
  .footer__slider .slick-arrow.slick-next {
    right: 170px;
  }
}

@media (max-width: 580px) {
  .footer__slider .slick-arrow.slick-next {
    right: 110px;
  }
}

@media (max-width: 420px) {
  .footer__slider .slick-arrow.slick-next {
    right: 50px;
  }
}

@media (max-width: 320px) {
  .footer__slider .slick-arrow.slick-next {
    right: 25px;
  }
}

.footer__item a, .footer__text {
  color: #fff;
  opacity: 0.5;
}

.footer__item-slider {
  padding: 0 0px 0 1px;
}

.footer__text, .footer__text + p {
  line-height: 22px;
}

.footer__logo {
  margin: 0 0 38px 0;
}

.footer__logo img {
  width: 100%;
}

@media (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
